body{
background: #F9C621;
}

.bga{
position: absolute;
width: 70%;
height: 80%;
left: 15%;
top: 13%;

background: #56C4C5;
box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.31);
border-radius: 25px;
}

.team{
position: absolute;
width: 15%;
height: 15%;
left: 12%;
top: 5%;

font-family: Sansita One;
font-style: normal;
font-weight: normal;
font-size: 350%;
line-height: 3%;

color: #000000;

text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.username{
position: absolute;
width: 20%;
height: 5%;
left: 8%;
top: 30%;

background: #FFFFFF;
box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;

padding-left: 10%;
}

.EmailID{
	position: absolute;
	width: 20%;
	height: 5%;
	left: 8%;
	top: 40%;

	background: #FFFFFF;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;

	padding-left: 10%;
}

.password{
position: absolute;
width: 20%;
height: 5%;
left: 8%;
top: 50%;

background: #FFFFFF;
box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;

padding-left: 10%;	
}

.Confirm{
	position: absolute;
	width: 20%;
	height: 5%;
	left: 8%;
	top: 60%;

	background: #FFFFFF;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;

	padding-left: 10%;
}

button{
position: absolute;
width: 10%;
height: 5%;
left: 18%;
top: 75%;

background: #1B2B55;
box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;
}

.no_account{
position: absolute;
width: 25%;
height: 5%;
left: 13%;
top: 90%;
}


#image{
	position: absolute;
	width: 436px;
	height: 399px;
	left: 550px;
	top: 100px;

	
	border-radius: 199.5px;
}