<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/Final-Logo.png')}}"/>
	<meta charset="utf-8">
	<title>Error page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style7.css')}}">
</head>
<body>
    <div class="parent">
         <!-- This is 404 background image-->
        <img class="image1" src="images/error_bg.png" alt="Background Image"/> 
         <!-- This is the gif in  the background -->
        <img class="image2" src="images/error.gif" alt="Error gif"/>
      </div>
</body>
</html>
