<html>
 <head>
     <title>Discussion</title>
     <link rel="icon" type="image/png" href="{{url_for('static', filename='images/Final-Logo.png')}}"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
     <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/update_comment.js')}}"></script>
     <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
     <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style6.css')}}">
 </head>
 <body>
     <div class="top" id="top">
        <a href="{{url_for('home')}}">
            <h2 class="heading" id="name"><img src="{{url_for('static',filename='images/Final-Logo.png')}}" alt="Logo" class="logo" id="logo">Ne-Meet</h2>
        </a>
         <h2 class="heading" id="title">Discussion prompt</h2>
     </div>
    <div class="comment-container">
        {% for comment in comments %}
            <a href="/reply?comment_id={{comment.id}}">    
                <div class="comment">
                    <div class="details">
                        <span class="user">
                        <h4>{{comment.user}}</h4>
                        </span>
                        <span class="date">
                            <h6>{{comment.date}}</h6>
                        </span>
                    </div>
                    <hr>
                    <div class="content">
                        <h5>{{comment.content}}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
     <div class="container">
         <form id="comment_form">
             <div id="post-comment" class="form-group">
                 <textarea name="comment_content" id="comment_content" class="form-control" placeholder="Enter Comment" rows="5"></textarea>
             </div>
             <div class="comment-submit-btn">
                <button type="submit" class="submit" id="submit-btn">
                  Submit
                </button>
            </div>
        </form>
         <span id="comment_message"></span>
         <br />
         <div id="display_comment"></div>
     </div>
 </body>
</html>

