<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/Final-Logo.png')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style3.css')}}">
<!--===============================================================================================-->
</head>
<body>
	<div>
		<nav class="navbar fixed-top navbar-expand-sm navbar-light">
			<a href="#" class="navbar-brand" id="Brand" style="color: #ffffff;">Ne-Meet</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" style="color: #fff;"><i class="fa fa-bars fa-2x" id="navicon" aria-hidden="true"></i></button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
				<ul class="navbar-nav" >
					<li class="nav-item" id="a1"><a href="{{url_for('discuss')}}" class="nav-link">Discussion prompt</a></li>
					<li class="nav-item" id="a2"><a href="{{url_for('log_out')}}" class="nav-link">Sign-Out</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<span class="icon1">
					<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
				</span>
				<span class="icon2">
					<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
				</span>
				<span class="icon3">
					<i class="fa fa-television fa-3x" aria-hidden="true"></i>
				</span>
				<span class="icon4">
					<i class="fa fa-television fa-3x" aria-hidden="true"></i>
				</span>
				<span class="icon5">
					<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
				</span>
				<span class="icon6">
					<i class="fa fa-television fa-3x" aria-hidden="true"></i>
				</span>
				<span class="icon7">
					<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
				</span>
				<span class="icon8">
					<i class="fa fa-television fa-3x" aria-hidden="true"></i>
				</span>
				<span class="icon9">
					<i class="fa fa-laptop fa-4x" aria-hidden="true"></i>
				</span>

				<div class="container-login100-form-btn">
					<a href="{{url_for('upload')}}">
						<button class="create">
							<span class="video">
					        	<i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
				        	</span>
						</button>
					</a>
					<span class="txt1">Create a meet</span>
				</div>
				<div class="container-login100-form-btn">
					<a href="{{url_for('join')}}">
					    <button class="join">
						    <span class="symbol-input100">
					            <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
				            </span>
					    </button>
					</a>
					<span class="txt2">Join a meet</span>
				</div>
			</div>
		</div>
	</div>
</script>

	
<!--===============================================================================================-->	
	<script src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

</script>
</body>
</html>
