<!DOCTYPE html>
<html>
<head>
	<title>Meet</title>
	<link rel="stylesheet" type="text/css" href="styles/meet.css">
</head>
<body>
	<section class="Live">
	
		
	</section>

	<BOTTOM>
		<div class="Console">
			<button class="button" id="video">
				  <img src="images\video-call.svg" alt='video camera' width="20" height="20" onclick="window.open('https://www.google.com')">
				  Video
				</button>
				<button class="button" id="audio" >
				  <img src="images\microphone.svg" width="20" height="20">
				  Microphone
				</button>
				<button class="button" id="Raise">
				  <img src="images\raising-hand.svg" width="20" height="20">
				  Raise hands
				</button>
				<button class="button" id="More" >
				  <img src="images\row.svg" width="20" height="20">
				  More
				</button>
				<button type="button" width="20" height="20">
				  <img src="">
				  Leave meeting
				</button>
		</div>

		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		 
		</div>

		<!-- Use any element to open the sidenav -->
		<span img='' onclick="openNav()">
			<button>Click</button>
		</span>

		<script type="text/javascript">
			function openNav() {
			  document.getElementById("mySidenav").style.width = "30%";
			  document.getElementById("main").style.marginLeft = "30%";
			  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
			}

			/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
			function closeNav() {
			  document.getElementById("mySidenav").style.width = "0";
			  document.getElementById("main").style.marginLeft = "0";
			  document.body.style.backgroundColor = "white";
			}
		</script>





		


	</BOTTOM>


</body>
</html>