<html>
 <head>
     <title>Discussion</title>
     <title>Discussion</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
     <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/update_threads.js')}}"></script>
     <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
     <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style6.css')}}">
     <link rel="icon" type="image/png" href="{{url_for('static', filename='images/Final-Logo.png')}}"/>
 </head>
 <body>
    <div class="top" id="top">
        <a href="{{url_for('home')}}">
             <h2 class="heading" id="name"><img href="url_for{{('static',filename='images/Final-Logo.png)}}" alt="Logo" class="logo" id="logo">Ne-Meet</h2>
        </a>
        <h2 class="heading" id="title">Discussion prompt</h2>
    </div>
    <div class="comment">
        <div class="user">
            {{comment.user}}
        </div>
        <div class="date">
            {{comment.date}}
        </div>
        <div class="content">
            <h5>{{comment.content}}</h5>
        </div>
    </div>
    <div class="thread-container">
        {% for thread in threads %}    
            <div class="comment">
                <div class="user">
                    {{thread.user}}
                </div>
                <div class="date">
                    {{thread.date}}
                </div>
                <div class="content">
                    <h5>{{thread.content}}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container" id="response_section">
        <textarea name="comment_content" id="response" style="display: none;"  class="form-control" placeholder="Enter your response" rows="5"></textarea>
        <button id="reply">Reply</button>
        <button id="cancel" style="display: none;">Cancel</button>
        <button  type='submit' id="submit" style="display: none;">Submit</button>
    </div>


 </body>
</html>
